{% extends "base.html" %}


{% block pageheading %}
Data.gov.uk
{% endblock %}

{% block optional_head %}
      <link href="{{ url_for('static', filename='vendor/chosen/chosen.min.css')}}" media="all" rel="stylesheet" type="text/css" />
      <script src="{{ url_for('static', filename='vendor/chosen/chosen.jquery.min.js')}}" type="text/javascript"></script>
{% endblock %}

{% block content %}


<h1 class="heading-xlarge"  style='margin-bottom:10px;'>
    Data.gov.uk
</h1>
{% include "snippets/search_form.html" %}

<div class="grid-row">
    <div>
        <h2 class='bold-medium'>Search results for '{{terms}}'</h2>

        {% for result in results %}
            {% include "snippets/search_result_item.html" %}
        {% endfor %}
    </div>

</div>

{% endblock %}
