/* Accordion */
.accordion a {
    text-decoration: none;
}

.accordion dt  {
    border-bottom: solid 1px #ddd;
    margin-top: 8px;
}


/* Tabs */
.clearfix {
    clear: both;
}
.tabs-menu {
    height: 30px;
    clear: both;
}

.tabs-menu li {
    height: 60px;
    line-height: 60px;
    float: left;
    width: 200px;
    margin-right: 6px;
    background-color: #ccc;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
    padding-left: 14px;
}

.tabs-menu li.active-tab {
    position: relative;
    background-color: #fff;
    z-index: 5;
}

.tabs-menu li a {
    font-weight: 600;
    padding: 10px;
    xcolor: #fff;
    text-decoration: none;
    background-color: none !important;
    width: 100%;
}


.tabs-menu li a:focus {
        background-color: none !important;
        outline: none  !important;
}
.tabs-menu li a:active {
        background-color: none !important;
        outline: none  !important;
}

.tabs-menu .active-tab a {
    xcolor: #2e7da3;
}

.tab {
    border-top: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.tab-content {
    xwidth: 660px;
    width: 100%;
    padding: 20px;
    display: none;
}

#tab-1 {
 display: block;
}

/* Search results page */

div.result-attribute {
    display: inline;
    margin-left: 16px;
}


/* Pagination */
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.column-three-quarter {
  float: left;
  width: 75%;
  width: 651.5px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.dataset {
    padding-left: 8px;
    padding-top: 8px;
    padding-right: 8px;
}
.super {
    background-color: #F8ED62;
    padding-bottom: 8px;
 }